body {
  background-color: rgba(89, 245, 248, 0.505);
}

.form_container {
  margin: 40px auto 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  width: 500px;
}

.rgb_grid {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
}
#rgb_block {
  background-color: rgb(3, 5, 90);
  margin: 4px;
}
